.input-loft-image {
  input               { margin-bottom: .25em; }
  .image img          { max-height: 6em; margin: .25em .75em .25em 0; float: left; }
  .remove             { display: none; }

  &.has-value         { min-height: 11em; }
  &.has-value .remove { display: inline; }
}