// MIXINS

@mixin iconLabel($title) {
  &:before {
    display: block; margin-top: 2.6em;
    content: $title; color: $contrastColor;
    font-size: 1.5em; font-weight: 300; letter-spacing: 8px;
    text-align: center; text-transform: uppercase;
  }
}

@mixin iconBase($bgSize, $width, $height) {
  display: block;
  background-size: $bgSize;
  width: $width;
  height: $height;
  background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAHACAYAAABqEWATAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1
Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiIHhtcE1NOklu
c3RhbmNlSUQ9InhtcC5paWQ6RTI3NEUyODdDQTIxMTFFNDkyQ0JCRUQ3QUY3NEZFOEMiIHhtcE1N
OkRvY3VtZW50SUQ9InhtcC5kaWQ6RTI3NEUyODhDQTIxMTFFNDkyQ0JCRUQ3QUY3NEZFOEMiPiA8
eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFMjc0RTI4NUNBMjEx
MUU0OTJDQkJFRDdBRjc0RkU4QyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFMjc0RTI4NkNB
MjExMUU0OTJDQkJFRDdBRjc0RkU4QyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8
L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PoJWX+MAAAzISURBVHja7J1/pGTnGcffOfe6
LDfCEpYlhFbY2rUsy9ZWatnY2iiJrXJjq4TUsoRUaSVSWRuNsISQSvSPapWQECqx1SuXaKSsrsRc
Xaql08qyVK+GlWpkTZ+38w7Ts+/M+X3O+77P58Nj7707c2a+53zP+7zPe545M5pOpwb0krELMABg
ANDK+u7uru/vByWuSJx0P6/ipsQHEt93P0e1vclkolr/aDwe5//2oMSHEvsrmmlP4msSN2LanscA
qvT7UsDlGhs37jmXI9yeav2+EeBfEvfWTCm3Je6JaXueEUCVft8IUHfjls0It6daP1UAZSBgAMAA
gAEAAwAGAPUG+LTB9m5HuD3V+n0G2GnwAtsRbk+1fp8BnjWzCwdV2XPPjW17qvX7DGCvFh2ReEvi
VokN33KPPWLuvnIVw/ZU6/ddDFLFkn4AqgDAAIABQKsBbJ/ZGxKfSEwL4hP32FW9aaFvT61+egLp
CbwLegLpCaQnUIt+egKV66cKoAoADAAYADAAYADAAKDeAPQEKtJPT6By/fQEKtdPT6By/fQE0hMI
GAAwAGCARegJpCeQnkAN+ukJVK6fnkB6Au+CnkBF+qkCqAIAAwAGAAwAGAAwAKg3AD2BivTTE6hc
Pz2ByvXTE6hcPz2B9AQCBgAMALoNUKXHLPbw9cip1W8ngXV7zGLnfz1yMgm8o1n/uqnfYxY78x65
O5r1WwOcVpwCTzsDqNVvDZDvMRslLnq68LOv506VfqoAqgDAAIABAAMABqjM4gpanU/hxk70+tcb
PNe3gvhtV1v7PtWaGknobzICLFtBLPsp3NhJQn8TA5yu+X+pkIR+JoFMAmuzqjt1W8G+S0J/EwMs
604t230bO0nob2KAfHdq1e7b2ElC/3rD59+U+JbiFBq9fiaBTAIBAwAGAAwAGCBYzkj8VuI/En+T
+IGy49SZ/vXAhW9I/Ezi/MLf7pd4SeKoxOOJH/jO9WeBi38zJ36RLYlnEj/4nesP2QCvSHyz4DHP
uTMhRXrR35YBNt2wZLti7M2M/yBxxcyaJupgGyueLHmWXAngYEWr3342cJr/W8VtHJC4usKJL0hc
kvi85PYekPjIVLsp8sOm/BW4/9PruUGEKv1NR4B9Eu8UDEM2T/3OCStiTeJXpvodsX8y0Jkfvf6m
BrDDz7ESjzsuMXblzCqelzhR433Y93BuAANEr7+JAU6WzFOLefKdFTWsnfD8sMH7udjzwU9Cf10D
2MnHq27IqsKamyxdXThz7I654EqetQY74CGJQz2WaEnor2uApyQON3izZ9xM+TOJf7qdudHCgbnQ
kwGS0V/HAJumvaXIfS0Jn/NdU+5rYZqWfMnor2MAm/fuC3TxZLOHyWBS+rMB3d8V5yM5+4PQn9XY
+IHAd4CdDN3f4c5NSn9VA1w04bPWYRpITn9W0VmHTBw82tGZlZz+KgZ4ysTDiQ7SQJL6yxrAznrP
RrQD1lp+v8nqL2uArZbr1T5o84Alq7+sAc6b+DhlZgstoZeWg+ovYwA78TkW4Q7Y53ZCU5LWX8YA
50y8tJEGktaPAZTrL9MWfsToJmn9fDJIORgAA4BmfHOAqfJ9MmUEAAwAGAAwAGAAwACAASBhA3yq
WP9t7fqtAXYU74Bt7fqtAZbd9Tp15nf1Vq3fGiB/1+vUyd/VW7X++bUA7vqtVD9VAFUAYABQS5me
wNivj48aPj9p/YwApADAAIABAAMABgAMAKwD9FxnN2XoOj1q/YwApADAAMAcIOIcPDRTRgDAAIAB
AAMABgAMABgAFK0DcC0gYv2MAKQAwADAHCDiHDw0XAsADAAYADAAYADAAIABQNM6ANcCItbPCEAK
AAwAzAEizsFDw7UAwACAAQADAAYADAAYADStA3AtIGL9jACkAMAAwBwg4hw8NFwLAAwAGAAwAGAA
wACAASCldYCR8n00YgQADAAYADDAXZw1s7XwoeILiaMD7r/o9TcxwJrESwMb2L6HKwO+dvT6mxjg
SYlDAYxip9yZ2DdJ6K9rgP0SlwNKZS9LbPT4esnor2uAy24nzPnA1ct9xvsLr/8liad73OHJ6K9j
APtiT+T+9uMBXH8p9/szEgd7eN2k9GctDDfW/TsLv3c9852zkzsLNiWeG2C4jVp/VQOc9Uw4Lg2Y
+/Kv/UTHZWFy+qsYwFf2XJPYzv2t69xncmfBTu49vtJj2Re9/ioG8JU9zwYwA34h9/tJia2eyr7o
9Zc1gK/s8bl/CPJngXFn6mbHZV8S+ssaIF/2DJ37is4COxu+2GHZl4z+MgbwlT3XJd4NaAf4zoK2
ysKk9ZcxgG+VKST3LzsLNk07a/VJ6y8ygK/sse7/dY91b5W6OH8WbLlJUZtlX1L6s4plj89pIZ8F
pkFZqEJ/VrHs2ZV4u+e6t0ldbNzCSJ2yUIX+rELZE2ruK3MWVC0L1ejPKpQ91v1vRbADfGfBQTcr
blL2Jak/K1n2xOL+VWfB005bnbIvWf1ZybLnhif3xXYWbJQsC1Xpz0qUPXP33zFx4TsLHi0oi9Tp
z3Jlj6/B8EYu900Dj1VnwbwsWltS9qnTn+XKngeXOCk29686C446rb6yT53+0Xg8npc9f/bMfP8k
8ZWId4DlPTPrnF1kT+LL9t/JZKJaf7ai7LG8GLn4ZWfB/lxZpFa/HQFsafBHz8w3BfevOgs+t/rc
CKBWf2aW95S/mIj4ZWfBhtOuWr8dAbq+z13Tz9d3+v7cCKBWP58OVg4GwACAAbrl3gbPbaOzd9X1
c6Ndfx8GONXguacTOMmC1t+HAZYtshQR2kewk9TfhwFsW5Vdbz4ncaDE4w+4x45NGDdgSFr/ek87
wXakvDnQAQjhfv7B6qcKoAoADAAYADAAYADAAIABAAOAEvpYCQy6I0a7fkYARoDO4buFmQMABgAM
ABgAMABoqwKq1sWpVw1B6WcEYASgLtasnxGASSBgAMAAgAEAAwAGAHXrACN2AyMAYADQmgJSYZ+Z
fZ7efhTbfsb+dWXHspb+9YgF2pse3yfxgJnd5Dl/P53XEz/Arehfj1igUX6Ao0sBHOAA9XdpgFeV
HeAo9XdpgAvKJ9hR6KcMZB0AMABgAMAAgAEAA4AqYrsY9Fcz+8676+5f+/tf3M8fKTheresPzQD2
q9r+YWZf13pT4paZfW37nvu/1Oldf98G+NgJXHTu/G9/V3CAg9PfpwG0t54FqZ9JIFUAYADAAIAB
AAMABgAMABgAMABgAMAAgAEAAwAGAAwAGAAwAGAAwACQBjF8LuCMxCmJw2Z2Vw2L7aS17dLvS7yb
+DHqVP9oPB539cbzX4xQtSv2hMTLEscLHndN4kcS79V5vclkolp/iCOAvZfOLyTOlXz8cY/4mOlV
f2gG2HRijhud9K6/jgG6zEmvRXDwk9JfZQ7QdU6y2/+wTW0tzwGS1F9mBOgrJ4V6V62k9RcZoM+c
dFR5Th5Ef9FCUAw52cdeS9tJXn9WkJO2enzTH7e4rd0WtqFCfxZQTvppi9v6ZQvbUKE/Cygn/b6l
A/cbiZ9HmJMH0d/XxaCyOel7rpZuMvQ9LnEn0pzcu/4ssJz0b4lv1DwT3pb4aosTQBX6swBzst0J
35F42MwWVcocqEckHpO4ncCcpFf9RSuBdgHkfAs56ZEGw/IxNyM/7H62XHdn1bWSO2kpBSuByesv
MoBdBbsq8VCDoe/rLQ7LrVNggOT1ZyWGo1By8hAkrz8ruRNCyMlDmiBZ/VUuB2+76DQnBUyS+uv0
A1x3oZWk9NMVrBwMgAFAM3YOUNS+XPX/+6bt96tKPyMAKQAwAKieA5jAclrbTDt+fNT6GQFIAYAB
gDlAwHVu13Wyav2MAKQAwADAHIB1ANYBgBQAGABYB2AdgHUAIAUABgDWAVgHYB0ASAGAAYB1gJJ1
prZ1gKj1MwKQAgADAHOACjkvtjq57XWApPQzApACAAMAc4AGdXDo0A/AOgCQAgADQDvrAKGvfU87
XgdISj8jACkAMAAwB2hQB4d2n7y+1wGi1s8IQAoADADMAQLKaV3XxW0/Pmr9jACkAMAAwBygQR0c
OvQDsA4ApADAAMA6AOsAjACAAQADAOsArAMwAgAGwADAHIB1ANYBgBQAGAA0zgGaftYttM/KjRJ/
vVbfDyMAKQAwALAOEGE93HXuVaGfEYAUABgAMABgAMAAgAGAdYBA6vDQGTECAAYADABK5wB5uHYQ
oX5GAFIAYADAAIABAAMABgAMABgAMABgAMAAgAEAAwAGAAwAGAAwAGAAwACAAQADAAYADAAYADAA
YADAAIABAAMABoAoWHV/AO4BxAgAGAAwAGAAwACAAQADAAYADAAYADAAxM9oOp2yFxgBAAMABgB9
/FeAAQBl5lWhLsJHOgAAAABJRU5ErkJggg==);
}


