@mixin iconLabel($title) {
  &:before {
    display: block;
    content: $title;
    color: $contrastColor;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 8px;
    font-size: 1.5em;
    margin-top: 2.75em;
  }
}

.module.assets.grid-mode {
  .list:not(:first-child) .items {
    padding: .25em .75em 5em;
    .item.asset { margin: 0 .75em 1.5em; float: left; display: inline-block; }

    .item.asset {
      width: 222px; height: 222px;
      border: 1px solid $contrastColor; border-radius: 4px;

      // disable bottom border
      &:after { display: none; }

      // show checkbox in the top left corner
      .asset-checkbox {
        @include absolutePosition(10px inherit inherit 10px); z-index: 1;
        display: block; width: 22px; height: 22px; background: $white;
        box-shadow: 0 1px 0 rgba(0,0,0,0.05),1px 0 0 rgba(0,0,0,0.05);
        border-bottom-right-radius: 4px;

        input { @include absolutePosition(0px inherit inherit 0px); }
      }

      // show thumbnail
      .asset-icon {
        @include absolutePosition(10px inherit inherit 10px);
        width: 200px; height: 150px; margin-right: 0;
        background: $white;
        &:after { @include absolutePosition(0px 0px 0px 0px); box-shadow: 0 0 1px rgba(0,0,0,0.2) inset; content: ''; display: block; }

        img { display: block; width: 100%; }
      }

      // title and subtitle
      .item-title { display: block; margin-top: 10.8em; }
      .item-subtitle { display: block; float: none; margin-top: .3em; }

      // asset name input
      &.edit-name {
        .asset-name { display: block; @include absolutePosition(inherit inherit 27px 8px); width: 92%; }
      }
    }

    // asset type labels
    .asset-text    .asset-icon { @include iconLabel('Text');    }
    .asset-archive .asset-icon { @include iconLabel('Archive'); }
    .asset-audio   .asset-icon { @include iconLabel('Audio');   }
    .asset-video   .asset-icon { @include iconLabel('Video');   }
    .asset-other   .asset-icon { @include iconLabel('File');    }
  }
}