//
// Group Actions
//

.assets-group-actions {
  @include absolutePosition(0 0 0 0); background: $white;
  .accept   { @include headerButton($positiveColor);  float: right; margin-right: 1em; }
  .delete   { @include headerButton($assertiveColor); float: right; margin-right: 1em; }
  .unselect { @include headerButton($stableColor);    float: left;  margin-left:  1em; }
}

.assets-group-actions .accept { display: none; }
.module-modal .assets-group-actions .accept { display: inline; }
.module-modal .assets-group-actions .delete { display: none;   }


