//
// Icons for Asset Types
//

@mixin asset-icon-base {
  background-image: image-url('loft/library@3x.png');
  background-size: 32px 112px;
  width: 16px; height: 16px;
}

.list.assets .items {
  .item {
    .item-title { margin-left: 2.05em; }
    &:before {
      @include absolutePosition(inherit inherit inherit 1em);
      content: ''; display: block;
    }
  }

  .item {
    &:before         {    @include asset-icon-base();      }
    &.active:before  {    background-position: 16px   0px; }
  }
  .item:nth-child(2) {
    &:before            { background-position:  0px -16px; }
    &.active { &:before { background-position: 16px -16px; } }
  }
  .item:nth-child(3) {
    &:before            { background-position:  0px -32px; }
    &.active { &:before { background-position: 16px -32px; } }
  }
  .item:nth-child(4) {
    &:before            { background-position:  0px -48px; }
    &.active { &:before { background-position: 16px -48px; } }
  }
  .item:nth-child(5) {
    &:before            { background-position:  0px -64px; }
    &.active { &:before { background-position: 16px -64px; } }
  }
  .item:nth-child(6) {
    &:before            { background-position:  0px -80px; }
    &.active { &:before { background-position: 16px -80px; } }
  }
  .item:nth-child(7) {
    &:before            { background-position:  0px -96px; }
    &.active { &:before { background-position: 16px -96px; } }
  }
}

.item.asset {
  .asset-icon {
    @include asset-icon-base();
    display: inline-block; margin-right: 1em;
  }
  &.asset-image   .asset-icon { background-position:  0px -16px; }
  &.asset-text    .asset-icon { background-position:  0px -32px; }
  &.asset-archive .asset-icon { background-position:  0px -48px; }
  &.asset-audio   .asset-icon { background-position:  0px -64px; }
  &.asset-video   .asset-icon { background-position:  0px -80px; }
  &.asset-other   .asset-icon { background-position:  0px -96px; }
}




