//
// Assets List Item
//

.item.asset {
  .item-title {
    cursor: pointer;
    position: relative;
    &:hover { color: $positiveColor; text-decoration: underline; }
  }
  .asset-name {
    display: none;
    width: 50%;
    position: absolute;
    line-height: 1;
    padding: 0em .3em .3em .375em;
    top: .55em; bottom: .55em; left: 4.5em;
    z-index: 1;
    border-radius: 3px;
    &:focus {
      outline: none !important;
      border: 1px solid $stableColor;
      box-shadow: 0 0 10px $lightColor;
    }
  }
  .asset-checkbox {
    display: inline;
    position: relative; top: -.25em;
    margin-right: 1em;
    input:focus { outline: none; }
  }
  &.edit-name {
    .asset-name { display: block; }
  }
}


/* Tablet Layout */

@media #{ $tablet } {
  .module.assets {
    .list:not(:first-child) {
      .items {
        .item { min-height: 49px; }
        .item-title    { display: inline-block; }
        .item-subtitle { display: inline; float: right; }
        .item.has-subtitle { padding: 1em; }
        img { display: none; } // show thumbnail only in .grid-mode
      }
    }
  }
}




