.module.assets {
  .modal-close {
    @include headerButton();
    @include absolutePosition(null null null 1em );
    display: none;
  }
  &.module-modal .modal-close { display: inline; }


  &.module-modal {
    z-index: 1100; left: .5em; right: .5em; top: .5em; bottom: 0em;

    &:before {
      @include position(fixed, 0px 0px 0px 0px);
      content: ''; display: block; background: rgba(0,0,0,.25); z-index: 0;
    }
  }
}

/* Tablet Layout */
@media #{$tablet} {
  .module.assets {
    &.module-modal { left: 1.5em; right: 1.5em; top: 1.5em; bottom: 0em; }
  }
}